<div class="split-screen">
  <div class="left">
    <div class="form-container">
      <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
        <div class="copy">
          <h2>Signup</h2>
        </div>
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input
            matInput
            type="text"
            name="fullName"
            ngModel
            placeholder="Full Name"
            #fullNameInput="ngModel"
            required
          />
          <mat-error>Please enter valid full name.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            ngModel
            placeholder="Email"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error>Please enter valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            ngModel
            #passwordInput="ngModel"
            type="password"
            placeholder="Password"
            required
          />
          <mat-error>Please enter valid password.</mat-error>
        </mat-form-field>
        <div class="button-div">
          <button mat-raised-button color="accent" type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="copy">
      <h1>Full Stacks CRUD</h1>
      <p>Practice from Udemy Course</p>
    </div>
  </div>
</div>
