:host {
  display: block;
  margin-top: 1rem;
}
main {
  width: 70%;
  margin: 1rem auto;
  min-height: 81vh;
}
.info-text {
  text-align: center;
}

.post-image,
.post-image img {
  width: 100%;
}

mat-accordion p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
